body{
    background-color: lightblue;
}
#intro{
    text-align: center;
    color: darkblue;
}
#moreinfo{
    text-align: center;
    font-weight: 700;
    font-size: large;
}
.animalList{
    line-height: 70px;
    font-weight: 400;
    font-size: large;
    padding-left:600px ;
}